<app-top-bar></app-top-bar>
<!-- fxLayout="row" fxLayoutAlign="space-around center"  -->
<div class="container" fxLayout="column">
  <div>
    <app-maptalks-demo-one></app-maptalks-demo-one>
  </div>
	<div>
		<app-layout-demo></app-layout-demo>
	</div>
	<div>
		<!-- <router-outlet></router-outlet> -->
	</div>
	<!-- <app-product-list></app-product-list> -->

  <div>
    <app-form-demo></app-form-demo>
  </div>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->