

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
.item-product {
  margin-bottom: 1rem;
  border: 2px;
  border-radius: 5px;
  background: #DBDBDB;
  padding: .5rem;
}
button {
  width: 100%;
  background: white;
  color: #1976D2;
}