<!-- <div fxLayout fxLayoutGap="20px" fxLayoutGap.sm="2px" fxLayoutGap.xl="80px" -->
<div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.xs="center center" fxLayoutAlign="space-between top"
	class="container-one">

	<div fxLayout="column" fxLayoutGap="10px" class="card3">
		<!-- IMPORTANT -->
		<p>
			layout-demo works!
			<span>one</span>
			<span>two</span>
		</p>
		<div fxLayout fxLayoutAlign="start center">
			<!-- IMPORTANT -->
			<div> cosas de la vida real 1 </div>
			<button>
        un botón
      </button>
		</div>
	</div>

	<div id="card3" fxLayout="column" fxLayout.lt-sm="row" fxLayoutGap="15px" class="card3">
		<div class="card2">
			cosas de la vida real 2
		</div>

		<div class="card2">
			cosas de la vida real 3
		</div>
	</div>
</div>